{# Make sure to avoid 4-spaces-deep (or deeper) indentation #}

{# The results get of Jinja expansion get fed into Markdown, which #}
{# may do undesired things with such deeply indented content. #}

{% macro youtube(id) -%}
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{id}}?rel=0" title="YouTube video" allowfullscreen></iframe>
</div>
{%- endmacro %}


{% macro collapsible(title, id="collapsery") -%}
{# don't be tempted to add indentation here, markdown will eat your markup#}
<div class="card mb-3" markdown="block"><div class="card-header">
  <h5 class="card-title dropdown-toggle">
  <a class="text-decoration-none link-dark"
  data-bs-toggle="collapse" href="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}">
  {{ title }}
  </a>
  </h5>
</div>
<div id="{{ id }}" class="collapse">
<div class="card-body">
{{ caller() }}
</div>
</div>
</div>
{%- endmacro %}
